*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue' , Helvetica, Arial, sans-serif;
    color: #fff;
}

body{
    background-color: #181818;
    font-size: 14px;
    min-width: 720px;
    letter-spacing: 1px;
}
#nowPlayingBarContainer {
    width:100%;
    position: fixed;
    min-width: 620px;
    bottom: 0;
    background-color: #282828;
    
}

#nowPlayingBar{
    display:flex;
    height: 90px;
    padding: 16px;
}

#nowPlayingLeft,#nowPlayingRight{
    width:30%;
    min-width: 180px;
}
#nowPlayingCenter{
    width:40%;
    max-width: 700px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#nowPlayingCenter .content{
    width:100%;
    height: 57px;
}

.playerControls .buttons{
    display:flex;
    justify-content: center;
   
    
}

.playerControls .buttons button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.playerControls .buttons i {
    font-size:20px;
    color: #a0a0a0;
    
    line-height: 28px;
}

.playerControls .buttons .playNow i {
    font-size:28px;
}
.buttons .pause{
    display: none;
}
.playbackBar{
    display: flex;
}
.progressTime{
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.progressBar{
    width: 100%;
    cursor: pointer;
    height: 12px;
    display: inline-flex;
}

.progressBarBg{
    background-color: #404040;
    height: 4px;
    width:100%;
    border-radius: 2px;
    
}

.progress{
    background-color: #a0a0a0;
    height:4px;
    width: 0;
    border-radius:2px;
}
.playbackBar .progressBar{
    margin-top: 3px;
}

.albumArtwork{
    margin-right:15px;
    max-width: 57px;
    background-size:cover;
    float: left;
}

.trackName{
    display: block;
}

.artistName{
    display: block;
    font-size: 12px;
    color: #a0a0a0;
}

.trackInfo{
    padding: 10px;
    line-height: 20px;
}
.volume{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.volume i{
    font-size: 24px;
    color: #a0a0a0;
}
#nowPlayingRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.volumeBar{
    width: 180px;
    margin-right: 0;
    display:flex;
}

.volumeBar .progressBar{
    width:125px;
margin-top:10px;
margin-left: 5px;
}

.playSound{
    display: none;
}

.topContainer{
    min-height: 100%;
    width: 100%;
}

#navBarContainer{
    background-color: black;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left:0;
}

.navBar{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.logo i{
    font-size: 32px;
    margin-bottom: 15px;
}

.group{
     border-top: 1px solid #a0a0a0;
     padding: 10px 0;
}

.navItem{
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

.navItemLink{
    color: #a0a0a0;
    text-decoration: none;
}

.searchIcon i{
    position: absolute;
    right: 0;
    color: #a0a0a0;
}
.searchIcon i:hover{
    color: white;
}
.navItemLink:hover{
    color: white;
}

#mainViewContainer{
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(100%-220px);
}

#mainContent{
    padding: 0 20px;
}

.pageHeadingBig{
    padding: 20px;
    text-align: center;
}

.gridViewItem{
    display: inline-block;
    margin-right: 20px;
    max-width: 200px;
    min-width: 150px;
    margin-bottom: 20px;
}

.gridViewItem img{
    width: 100%;
}

.gridViewInfo{
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gridViewItem a{
    text-decoration: none;
}

.entityInfo{
    padding: 40px 0 10px 0;
    display: inline-block;
    width: 100%;
}

.entityInfo .leftSection{
    width: 30%;
    float: left;
    max-width: 250px;
}

.entityInfo .leftSection img{
    width: 100%;
}

.entityInfo .rightSection{
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
}

.entityInfo .rightSection h2{
    margin-top: 0px; 
    margin-bottom: 20px;
}

.entityInfo .rightSection p{
    color: #939393;
    font-weight: 200;
    margin-bottom:20px;
}

.tracklist{
    padding: 0;
}

.tracklistRow{
    height: 40px;
    display: flex;
    list-style: none;
   align-items: center;
   padding: 0 10px;
   margin-top: 10px;
}

.trackName{
    color: #939393;
    font-weight: 200;
}

.trackCount{
    flex-basis: 8%;
}

.trackCount i{
    display:none;
}

.tracklistRow:hover{
    background-color: #282828;
}
.tracklistRow:hover .trackCount i{
    display: block;
    cursor: pointer;
}
.trackCount span{
    display:block;
}

.tracklistRow:hover .trackCount span{
    display: none;
}

.tracklistRow .trackInfo{
    flex-basis: 75%;
}

.trackOptions{
    flex-basis: 5%;
    display: flex;
    justify-content: flex-end;
}

.tracklistRow .trackDuration{
    flex-basis: 12%;
    text-align: right;
}

.trackOptions i{
    transform: rotate(90deg);
}

.tracklistRow:hover .trackOptions i{
    visibility: visible;
    cursor: pointer;
}

.tracklistRow .trackOptions i{
    visibility: hidden;
}

.repeat{
    color: #07d159!important;
}